<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moyuyo.dao.mapper.ProductMapper">

  <select id="selectOnSalePage" resultType="com.moyuyo.dao.entity.ProductEntity">
    SELECT * FROM mo_product
    WHERE on_sale = TRUE
    ORDER BY create_time DESC
  </select>

  <select id="selectPageByCategory" resultType="com.moyuyo.dao.entity.ProductEntity">
    SELECT * FROM mo_product
    WHERE category_id = #{categoryId}
    AND on_sale = TRUE
    ORDER BY create_time DESC
  </select>

  <select id="selectPageByKeyword" resultType="com.moyuyo.dao.entity.ProductEntity">
    SELECT * FROM mo_product
    WHERE name LIKE CONCAT('%', #{keyword}, '%')
    AND on_sale = TRUE
    ORDER BY create_time DESC
  </select>

</mapper>
